body {
  font-family: 'Open Sans', sans-serif;
}

/* Base Styles */

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.employee {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px 20px 13px 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.employee:hover {
 transition: .4s ease;
 background-color: rgba(128,128,128,0.25);
}

.info {
  text-align: center;
}

h1 {
  font-size: 25px;
  text-align: center;
  width: 90%;
  margin: 15px auto;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-top: 20px;
  border:1px solid #cccccc;
  width: 70%;
  height: 30px;
  padding-left: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 16px;
}

input:focus {
  outline: none;
}

img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
}

.name {
  font-weight: 800;
  text-transform: capitalize;
}

.city {
  text-transform: capitalize;
}

.address {
  text-transform: capitalize;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 10px 20px 20px 20px;
  max-width: 320px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 10px;
  text-align: center;
}

.close {
  font-size: 25px;
  display: block;
  text-align: right;
}

.close:hover, .close:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}

/* media queries */

@media (min-width: 620px) {
  .employee {
    display: flex;
    max-width: 550px;
    margin: 0 auto 30px;
  }

  img, .info {
    margin: 0 auto;
  }

  input{
    max-width: 480px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .employee {
    width: 80%;
    max-width: 440px;
  }

  .info {
    margin: 0 auto;
  }
}

@media (min-width: 1224px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1770px;
  }

  .employee {
    width: 85%;
  }
}
